.container{
    height: 80px;
    display: flex;
    gap: 10px;
}


.button {
    width: 80px;
    height: 30px;
}

.counter {
    border: solid 1px;
    width: 100px;
    display: flex;
    justify-content: center;
}